*{
    margin: 0;
    padding: 0;
}
/* başdakı menyu*/
.basliq-menu{
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 14vh;
    background-color: rgb(44, 62, 80);
}
.ad-menu{
    display: inline;
    position: relative;
    top: 31px;
    left: 103px;
    color: white;
    font-size: 30px ;
    font-weight: 650;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.siyahi-menu{
    display: inline-block;
    position: relative;
    top: 28px;
    left: 800px;
    color: white;
    font-weight: 600;
}
.li{
    display: inline;
}
.basliq-elementler{
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
    color: white;
    font-size: 18px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.basliq-elementler:hover{
    color: rgb(26, 188, 156);
}
            /* section-1 */
.section1{
    background-color: #1abc9c;
    width: 100%;
    height: 102vh;
}
.sekil1{
    width: 250px;
    height: 250px;
    margin-left: 42%;
    margin-top: 195px;
}
.div2-text1{
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 70px;
    font-weight: 700;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 3.5rem;
}
.div-xetler{
    display: flex;
    justify-content: flex-start;
    
}
.star{
    position: relative;
    left: 41%;
    top: 35px;
}
.fa-star{
    position: relative;
    color: white;
    font-size: 30px;
}
.xett1{
    position: relative;
    left: 40%;
    top: 55px;
    width: 120px;
    height: 4px;
    background-color: white;
    border-radius: 12%;
}
.xett2{
    position: relative;
    left: 42%;
    top: 55px;
    width: 120px;
    height: 4px;
    background-color: white;
    border-radius: 12%;
}
.text2-section1{
    color: white;
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
    font-weight: 100;
}
            /* section-2 ----------------------------------------------------------*/
.section2{
    width: 100%;
    height: 850px;
}
.secion2-tex1{
    font-size: 44px;
    color: rgb(44, 62, 80);
    font-weight: 1000;
    text-align: center;
    margin-top: 65px;
}
.div-xetler-section2{
    display: flex;
    justify-content: flex-start;
    
}
.star-section2{
    position: relative;
    left: 41%;
    top: 25px;
}
.star-sec2{
    position: relative;
    color: rgb(44, 62, 80);
    font-size: 30px;
}
.xett1-sectioon2{
    position: relative;
    left: 40%;
    top: 40px;
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    border-radius: 12%;
}
.xett2-section2{
    position: relative;
    left: 42%;
    top: 40px;
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    border-radius: 12%;
}
.container-section2{

    margin-top: 35px;
    
}
.umumi{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}
.boxes{
    width: 400px;
    height: 280px;
    margin: 20px;
    border-radius: 3%;
    background-size: cover;
    background-color:#1abc9c;
}
.plus{
    font-size: 130px;
    color: white;
    text-align: center;
    margin-top: 67px;
}
.box1{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cabin.png);
}
.box2{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/cake.png);
}
.box3{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/circus.png);
}
.box4{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/game.png);
}
.box5{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/safe.png);
}
.box6{
    background-image: url(https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/portfolio/submarine.png);
}
.container_umumi{
    position: relative;
}
.passiv .boxes{
   
    opacity: 0;
}
.passiv .boxes:hover{
    opacity: 0.8;
}
        /*----------------------section-3---------------------------*/
.section3{
    margin-top: 0px;
    width: 100%;
    height: 600px;
    background-color: rgb(26, 188, 156);
}
.basliq-sec3{
    position: relative;
    top: 100px;
    width: 100%;
    height: 150px;
}
.ABOUT-text{
    color: white;
    font-size: 50px;
    text-align: center;
}
.div-xetler-sec3{
    display: flex;
    top: 130px;
    left: 33.5%;
}
.star-div-sec3{
    position: relative;
    left: 41%;
    top: 22px;
}
.star-sec3{
    position: relative;
    color: white;
    font-size: 30px;
}
.xett1-sec3{
    position: relative;
    left: 40%;
    top: 35px;
    width: 120px;
    height: 4px;
    background-color: white;
    border-radius: 12%;
}
.xett2-sec3{
    position: relative;
    left: 42%;
    top: 35px;
    width: 120px;
    height: 4px;
    background-color: white;
    border-radius: 12%;
}
.text-sec3{
    display: flex;
    justify-content: center;
    margin-top: 100px ;
    width: 100%;
    height: 200px;
}
.text1-div-sec3{
    width: 450px;
    height: 150px;
    margin-left: 10px;
}
.text2-div-sec3{
    width: 450px;
    height: 150px;
    margin-left: 10px;
}
.text1-sec3{
    font-size: 25px;
    color:white;
}
.text2-sec3{
    font-size: 25px;
    color:white;
}
       /* Free Download duymesi*/
.download-icon{
    position: relative;
    top: 3px;
    right: 10px;
    width: 25px;
    height: 25px;
}
.btn-text{
    position: relative; 
    left: 632px;
    border: 2px solid white;
    border-radius: 9px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.btn-text:hover{
    color: black;
    background-color: white;
}
   
/*-------------------------section4--------------------------------------------*/
.section4{
    width: 100%;
    height: 1000px;
}

/*ulduz ve xetler section 4---------------------*/

.basliq-sec4{
    position: relative;
    top: 70px;
    width: 100%;
    height: 150px;
}
.basliq-text-sec4{
    color:rgb(44, 62, 80);
    font-size: 50px;
    text-align: center;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.div-xetler-sec4{
    display: flex;
    top: 130px;
    left: 33.5%;
}
.star-div-sec4{
    position: relative;
    left: 41%;
    top: 22px;
}
.star-sec4{
    position: relative;
    color: rgb(44, 62, 80);
    font-size: 30px;
}
.xett1-sec4{
    position: relative;
    left: 40%;
    top: 35px;
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    border-radius: 12%;
}
.xett2-sec4{
    position: relative;
    left: 42%;
    top: 35px;
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    border-radius: 12%;
}
.inputs{
    margin-left: 350px;
    margin-top: 120px;
}
.input1{
    height: 90px;
    width: 780px;
    display: block;
    border: 0px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3); 
    font-size: 30px;
}
.label-sec4{
    font-size: 20px;
    opacity: 0.6;
}
.send-btn-sec4{
    position: relative;
    top: 50px;
    left: 350px;
    background-color: #1abc9c;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10%;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #2c3e50;
}
.divs-sec5{
    height: 100px;
    width: 430px;
    margin: 15px;
    text-align: center;

}
.text1-div1-sec5{
    font-size: 25px;
    color: white;
}
.text2-div1-sec5{
    font-size: 22px;
    color: white;
    margin-top: 30px;
    font-weight: 100;

}
.text1-div2-sec5{
    color: white;
    font-size: 25px;
}
.icons{
    position: relative;
    top: 23px;
    width: 48px;
    height: 48px;
    margin: 2px;
    border-radius: 50%;
    border-color: white;
    border: 2px solid white;
    display: inline-block;
    vertical-align: top;
}
.icons:hover{
    background-color: white;
    color: black;
}
.facebook-icon{
    width: 33px;
    height: 33px;
    margin-top: 4px;
    color: white;
}
.facebook-icon:hover{
    color: black;
}

.text1-div3-sec5{
    color: white;
    font-size: 25px;
}
.text2-div3-sec5{
    font-size: 22px;
    color: white;
    margin-top: 30px;
    font-weight:100;
}
.a-sec5{
    color: #1abc9c;
    font-weight:100;
}
.section-finish{
    width: 100%;
    height: 70px;
    background-color: #1a252f;
}
.text-finish{
    position: relative;
    top: 30px;
    color: white;
    text-align: center;
    font-weight: 100;
}